<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register</h1>
    <!--Form to create new account -->
    <form action = "/register" method = "post">
    <label>username: </label>
    <input type = "text" name="username" placeholder = "user name"/><br>
    <label>password: </label>
    <input type = "password" name="password" placeholder = "password"/><br>
    <label>confirm password: </label>
    <input type = "password" name="confirmPass" placeholder = "password"/><br>
    <input type ="submit"/>
    </form>
    <a href="/login">login</a>
</body>
</html>
