/* #region Root */
:root {
  font-family: 'Prompt', sans-serif;
  --content-width: 55vw;
  --blue: #c3e9f4;
  --green: #315d44;
  --yellow: #ffe9a6;
  --pink: #f8b8bc;
  --white: #fffcfa;
  --white-darken: #f1e9e4;
  --black: #3b3b38;
  --black-darken: #272724;
  --possible-image-border: #262323;

  --bubble-size: 20px;
  --bubble-top: 0;
  --bubble-right: 0;
  --bubble-time: 6s;
  --bubble-start: 0s;
  --sway-strength: 20;
  --bubble-height: 100vh;
  --playstate: 'running';
}

:root.light {
  --body-text-color: var(--black);
  --content-text-color: var(--white);
  --background: var(--white);
  --background2: var(--white-darken);
  --foreground: var(--green);
  --accent: var(--yellow);
  --svg-filter: none;
  --headings: var(--green);
}

:root.dark {
  --body-text-color: var(--white);
  --content-text-color: var(--white);
  --background: var(--black);
  --background2: var(--black-darken);
  --foreground: var(--green);
  --accent: var(--yellow);
  --headings: var(--white);
}

/* #endregion */

/* #region Page */
html {
  background-color: var(--background2);
}

body {
  color: var(--body-text-color);
  font-family: 'Prompt', sans-serif;
  user-select: none;
  max-width: 100%;
  overflow-x: hidden;
}

h1 {
  color: var(--content-text-color);
  z-index: 3;
  letter-spacing: 0.1em;
}

.body-header {
  top: 0;
  width: var(--content-width);
  color: var(--body-text-color);
  text-align:center;
  margin: auto;
  padding: 0.5em;
  font-size: 3em;
  z-index: 2;
  position: relative;

}

.body-content {
  background-color: transparent;
  color: var(--black);
  padding: 1em;
  width: var(--content-width);
  text-align:center;
  margin: auto;
  z-index: 2;
  position: relative;
  font-size: 2vh;
}

.heading {
  display: inline-block;
  width: 100%;
}
/* #endregion */

/* #region Create Post */
#create-title {
  border: unset;
  border-bottom: 1px solid var(--black);
  width: 35vw;
  padding-bottom: 1vh;
  background-color: transparent;
  color: var(--black);
  margin-bottom: 2vh;
  outline: none;
}

#project-pitch {
  background-color: var(--white);
  width: 40vw;
  margin: auto;
  text-align: left;
  padding: 0.8em;
}

#project-pitch-content {
  font-size: 1.5vh;
  border: unset;
  background-color: var(--white);
  width: 100%;
  outline: none;
  resize: none;
}

.tag {
  width: 10ch;
  margin: 0.5em;
  font-family: "Inter", sans-serif;
}

#image {
  width: 50%;
  height: 30vh;
  background-color: white;
  margin: auto;
}

#submit-post {
  background-color: var(--foreground);
  border: 2px solid var(--green);
  padding: 15px;
  border-radius: 40px;
  color: var(--white);
  font-size: 1em;
  width: fit-content;
  text-wrap: nowrap;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

#submit-post:hover {
  background-color: transparent;
  padding: 15px;
  border-radius: 40px;
  color: var(--green);
  font-size: 1em;
  width: fit-content;
  text-wrap: nowrap;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

#footer {
  width: 100vw;
  position: fixed;
  bottom: -12vh;
  left: 0;
  z-index: -1;
  transform: scaleY(0.75);
}

#file-upload-button {
  font-family: "Inter", sans-serif;
}

input::file-selector-button {
  all: unset;
  cursor: pointer;
  border: 2px solid var(--green);
  background-color: transparent;
  padding: 8px;
  border-radius: 40px;
  color: var(--green);
  font-size: 1em;
  width: fit-content;
  text-wrap: nowrap;
  margin: 0.5em;
  font-family: "Inter", sans-serif;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

input::file-selector-button:hover {
  all: unset;
  cursor: pointer;
  border: 2px solid var(--green);
  background-color: var(--green);
  padding: 8px;
  border-radius: 40px;
  color: var(--white);
  font-size: 1em;
  width: fit-content;
  text-wrap: nowrap;
  margin: 0.5em;
  font-family: "Inter", sans-serif;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
/* #endregion */

/* #region About */
#about-logo {
  position: relative;
  z-index: 2;
  height: 8vh;
}

#about-button {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  padding: 0 0.5rem;
}

#about-container {
  z-index: 2;
  display: flex;
  height: 110vh;
  width: 100vw;
  background-image: linear-gradient(var(--blue) 90%, var(--background2) 100%);
  overflow: hidden;
}

#about {
  font-size: 2em;
  margin: 0 auto;
  width: 80%;
  display: flex;
}

#about-heading {
  color: var(--body-text-color);
  position: relative;
  z-index: 3;
  font-size: 9vh;
  margin: 0;
}

#about-body {
  position: relative;
  color: var(--black);
  z-index: 3;
  font-size: 3vh;
}

#about-graphic {
  padding-top: 5vh;
  z-index: 1;
}

.about-content {
  display: inline-block;
  width: 60%;
  padding-top: 10vh;
}

.about-graphic {
  display: inline-block;
  height: 55vh;
  position: relative;
  z-index: 1;
}

.graphic {
  height: 30vh;
  width: 30vh;
  border-radius: 50%;
  display: inline-block;
  opacity: 60%;
  position: absolute;
}

.accent-blue {
  height: 15vh;
  width: 15vw;
  border-radius: 50%;
  position: absolute;
  filter: blur(40px);
  background-color: var(--blue);
  z-index: 1;
}

.accent-pink {
  height: 15vh;
  width: 15vw;
  border-radius: 50%;
  position: absolute;
  filter: blur(90px);
  background-color: var(--pink);
  z-index: 1;
  top: 75vh;
  left: 80vw;
}

.accent-1 {
  height: 15vh;
  width: 10vw;
  top: 80vh;
  left: 20vh;
  filter: blur(80px);
}

.accent-2 {
  height: 10vh;
  width: 10vw;
  top: 0vh;
  left: 50vh;
  filter: blur(80px);
}

.accent-3 {
  height: 10vh;
  width: 10vw;
  top: 70vh;
  left: 80vh;
  filter: blur(80px);
}
/* #endregion */

/* #region Project */
#project-list {
  padding: 0 20%;
  width: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two equal columns */
  gap: 1em; /* Adjust spacing between cards */
  align-items: start;
  justify-items: center;
}

#project-container {
  background-color: var(--background2);
  background-blend-mode: darken;
  padding-top: 1vh;
}

#project-title, #project-content {
  color: var(--body-text-color);
}

#project-content {
  width: 90%;
  height: 30vh;
  margin: auto;
  padding-bottom: 1em;
  padding-top: 1em;
  text-align: left;
  white-space: pre-wrap;
  font-family: 'Source Code Pro', sans-serif;
}

#back-button {
  font-weight: bold;
  cursor: pointer;
  position: absolute;
}

.no-posts {
  width: 80%;
  margin: auto;
}

.project-body {
  background-color: transparent;
  color: var(--black);
  padding: 1em;
  width: var(--content-width);
  text-align:center;
  margin: auto;
  z-index: 2;
  position: relative;
  font-size: 2vh;
}

.project-card {
  background-color: var(--background);
  color: var(--body-text-color);
  padding: 0;
  padding-top: 0;
  width: 95%;
  text-align:center;
  margin: auto;
  margin-bottom: 3vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  height: 70vh;
  font-size: 1.5vh;
  transition: transform 0.3s ease-in-out;
}

.project-card:hover {
  transform: scale(105%);
}

.project-card.fullscreen {
  position: relative;
    z-index: 1;
    padding:0;
    width: 100%;
    height: 100vh;
}

.profile-icon {
  border-radius: 50%;
  height: 2.8em;
  width: 2.8em;
  object-fit: cover;
  vertical-align: middle;
  line-height: normal;
  border: 1px solid lightgray;
}

.card-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 8px;
}

.card-text {
  display: flex;
  flex-direction: column;
}

.project-image {
  height: 20vh;
  width: 20vw;
  max-width: 80%;
  min-width: 0%;
  max-height: 60vh;
  min-height: 0%;
  border: 1px solid var(--background2);
  border-radius: 4px;
  padding: 5px;
  object-fit: contain;
  margin: auto;
}

.project-description {
  width: 90%;
  height: auto;
  margin: auto;
  padding-bottom: 1em;
  padding-top: 1em;
  border-top: 1px solid var(--body-text-color);
  text-align: left;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  font-family: 'Source Code Pro', sans-serif;
  overflow-y: hidden;
}

.project-title {
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 0;
  cursor: pointer;
}

.project-type {
  background-color: var(--pink);
  display: inline-block;
  font-size: 1.25em;
  border-radius: 5px;
  margin-top: 0.8em;
  margin-bottom: 0.5em;
  padding: 0.15em 0.5em;
  color: var(--black);
}

.secondary-project-type {
  background-color: var(--blue);
  display: inline-block;
  font-size: 0.75em;
  border-radius: 5px;
  margin: 0.5em;
  padding: 0.15em 0.5em;
  color: var(--black);
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  padding-top: 1em;
}

.names {
  display: flex;
  flex-direction: column;
}

.display-name {
  padding-left: 0.5rem;
  margin: 0;
  text-align: left;
}

.username {
  padding-left: 0.5rem;
  font-size: 0.75em;
  color: slategray;
  margin: 0;
  text-align: left;
}

.open-project {
  cursor: pointer;
}

.message-area {
  border: 1px solid red;
}

.message {
  all: unset;
  border: 1px solid blue;
  width: 90%
}

.send {
  border: 1px solid yellow;
}

.post-controls {
  width: var(--content-width);
  margin: auto;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-search {
  padding: .3em;
  margin: 8px;
  width:auto;
  font-family: "Inter", sans-serif;
  font-size: 1.5em;
  flex-grow: 1;
}

.create-post {
  border: 2px solid var(--green);
  margin: auto;
  text-align: center;
  width: fit-content;
  color: var(--white);
  background-color: var(--green);
  font-size: 1.5em;
  padding: .2em .6em;
  border-radius: 25px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.create-post:hover {
  border-color: var(--green);
  color: var(--green);
  background-color: transparent;
}

/* #endregion */

/* #region NavBar */
#nav {
  display: flex;
  flex-direction: column;
  color: var(--content-text-color);
  z-index: 999;
}

.nav {
  background-color: var(--foreground);
  width: 5em;
  height: 100vh;
  position: fixed;
  top: 0;
  transition: width 0.7s;
}

.nav.open {
  width: 18em;
}

.nav-item {
  display: flex;
  width: auto;
  align-items: center;
  margin-bottom: 3em;
  padding-left: 0.5em;
  height: 4em;
  cursor: pointer;
  white-space: nowrap;
}

.nav-item:nth-last-child(2) {
  margin-top: auto;
}

.nav-item:hover {
  color: var(--accent);
}

.nav-icon:hover {
  color: var(--accent);
}

.nav-icon {
  font-size: 3em;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  padding-bottom: 5px;
  text-overflow: clip;
}

.theme {
  margin-bottom: unset;
}

.nav-link {
  all: unset;
  cursor: pointer;
  font-size: 2em;
  padding-left: 5px;
  opacity: 100;
  width: 100%;
  transition: width 0.8s, visibility 0.7s, opacity 0.6s;
  text-overflow: clip;
  overflow: hidden;
  white-space: nowrap;
}

.nav-spacer {
  height: 100em;
}

.top {
  position: fixed;
  z-index: 3;
  display: inline-block;
  background-color: var(--foreground);
  color: var(--content-text-color);
  right: 1vw;
  bottom: 1vh;
  text-align: center;
}

/* #endregion */

/* #region App */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-icon {
  padding: 10px;
  float: right;
  height: 10vh;
  cursor: pointer;
  fill: var(--body-text-color);
  position: relative;
  z-index: 2;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* #endregion */

/* #region Profie */
.profile-picture {
  border-radius: 50%;
  border: 1px solid lightgray;
  object-fit: cover;
  vertical-align: middle;
  line-height: normal;
  width: 8em;
  height: 8em;
}

#header {
  width: 100vw;
  background-color: var(--background2);
}

#user {
  padding-top: 10vh;
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  padding-top: 1em;
  padding-left: 5%;
  padding-bottom: 1em;
  position: relative;
}

#user-info {
  float: right;
  display: flex;
  flex-direction: column;
}

.info {
  color: var(--body-text-color);
  margin: 0;
  padding-left: 1rem;
}

#body {
  width: 80%;
  margin: auto;
}

#about-user {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
}

#about-user-content {
  background-color: var(--background2);
  padding: 1em;
  font-size: large;
}

.heading {
  color: var(--body-text-color);
  margin-bottom: 0;
}

#user-projects {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
}

.edit-profile {
  position: absolute;
  right: 0;
  font-size: 2em;
}

.save-profile {
  position: absolute;
  right: 0;
  font-size: 2em;
}
/* #endregion */

/* #region Bubbles*/
#bubble-container {
  width: 100vw;
  height: var(--bubble-height);
  position: absolute;
  z-index: 1;
  background-color: var(--blue);
  overflow-x: hidden;
}

.bubble {
  content: url('../src/images/Bubble.webp');
  height: var(--bubble-size);
  width: var(--bubble-size);
  bottom: 0;
  left: var(--bubble-left);
  display: block;
  position: absolute;
  transform: translatey(0px);
	animation: float var(--bubble-time) linear infinite;
  animation-delay: var(--bubble-start);
  z-index: 3;
  animation-play-state: var(--playstate);
}

@keyframes float {
  0% {
    bottom: 0;
  }
  100% {
    bottom: var(--bubble-height);
  }
}

/* #endregion Bubbles*/

/* #region Login*/
.login-container {
  display: flex;
  width: 100vw;
}

.login {
  margin: auto;
  width: 50%;
  position: relative;
  z-index: 3;
  font-size: 2vh;
}

.login-text {
  color: var(--black);
  z-index: 3;
  margin-top: 0;
}

.login-info-area {
  border: 2px solid var(--green);
  padding: 5vh 5vw;
  border-radius: 5px;
  height: 50%;
  z-index: inherit;
  position: relative;
  position: relative;
  z-index: 3;
}

.login-label {
  font-size: 1.25em;
  font-weight: 400;
  color: var(--black);
}

.register-login {
  border: 2px solid var(--green);
  background-color: transparent;
  padding: 10px;
  width: fit-content;
  text-align: center;
  margin: 0;
  margin-top: 1vh;
  border-radius: 40px;
  color: var(--green);
  font-weight: 500;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.register-login:hover {
  all: unset;
  cursor: pointer;
  background-color: var(--green);
  color: var(--white);
  width: 15%;
  text-align: center;
  padding: 12px;
  margin-top: 1vh;
  border-radius: 40px;
  width: fit-content;
  font-weight: 500;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.login-submit {
  all: unset;
  cursor: pointer;
  background-color: var(--green);
  color: var(--white);
  width: 15%;
  text-align: center;
  padding: 12px;
  margin-top: 1vh;
  border-radius: 40px;
  float: right;
  width: fit-content;
  font-weight: 500;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.login-submit:hover {
  border: 2px solid var(--green);
  background-color: transparent;
  padding: 10px;
  width: fit-content;
  text-align: center;
  margin: 0;
  margin-top: 1vh;
  border-radius: 40px;
  color: var(--green);
  font-weight: 500;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.login-text-field {
  border: 1px solid var(--green);
  font-size: 1.05em;
  padding: .5em;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 1vh;
  font-family: "Inter", sans-serif;
}

.password-text-field {
  border: 1px solid var(--green);
  font-size: 1.05em;
  padding: .5em;
  padding-right: 4em;
  width: calc(100% - 3.5em);
  border-radius: 5px;
  margin-bottom: 1vh;
  font-family: "Inter", sans-serif;
}

.password-field {
  position: relative;
}

.show-password {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  margin-top: calc(0.5em - 1px);
  color: var(--black);
}

#fish-footer {
  width: 100vw;
  position: fixed;
  bottom: 12vh;
  left: 0;
  z-index: 4;
}

.fish {
  width: 12vw;
  transform: scaleX(-1);
  position: fixed;
}

#fish-1 {
  right: 5vw;
  animation: bob 2.5s ease-in-out infinite;
  animation-direction: alternate;
  animation-delay: -2.3s;
  animation-play-state: var(--playstate);
}

#fish-2 {
  right: 30vw;
  animation: bob 2.5s ease-in-out infinite;
  animation-direction: alternate;
  animation-delay: -1s;
  animation-play-state: var(--playstate);
}

#fish-3 {
  right: 55vw;
  animation: bob 2.5s ease-in-out infinite;
  animation-direction: alternate;
  animation-delay: -2s;
  animation-play-state: var(--playstate);
}

#fish-4 {
  right: 80vw;
  animation: bob 2.5s ease-in-out infinite;
  animation-direction: alternate;
  animation-delay: -1.3s;
  animation-play-state: var(--playstate);
}

@keyframes bob {
  0% {
    bottom: 0vh;
  }
  100% {
    bottom: 10vh;
  }
}
/* #endregion Login*/

/* #region NoPage */
.switch-text-color {
  color: var(--body-text-color);
}
/* #endregion */

.error {
  color: red;
}

.success {
  color: green;
}

button {
  all: unset;
  margin-right: 15px;
  cursor: pointer;
}

.button-main {
  background-color: var(--foreground);
  padding: 25px;
  border-radius: 40px;
  color: var(--white);
  font-size: x-large;
  width: fit-content;
  text-wrap: nowrap;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.button-main:hover {
  border: 5px solid var(--green);
  padding: 20px;
  border-radius: 40px;
  color: var(--green);
  font-size: x-large;
  background-color: transparent;
  width: fit-content;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.button-secondary {
  border: 5px solid var(--green);
  padding: 20px;
  border-radius: 40px;
  color: var(--green);
  font-size: x-large;
  width: fit-content;
  text-wrap: nowrap;
  background: transparent;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.button-secondary:hover {
  background-color: var(--foreground);
  padding: 20px;
  border-radius: 40px;
  color: var(--white);
  font-size: x-large;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.button-logout {
  background-color: red;
  color: white;
  padding: 0.25em;
  border-radius: 10%;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 8px;
}

.hidden {
  opacity: 0;
  width: 0;
  transition: width 0.7s, opacity 0.7s;
}

.sticky {
  position: sticky;
  top: 0;
}

.required {
  color:red;
}

.debug {
  border: 1px solid red;
}