/* #region root */

:root {
  --content-width: 50vw;
}

:root.light {
  --text-color: black;
  --primary: white;
  --secondary: gray;
  --tertiary: #61dafb;
}

:root.dark {
  --text-color: white;
  --primary: black;
  --secondary: gray;
  --tertiary: #61dafb;
}

/* #endregion */

body {
  background-color: var(--primary);
  color: var(--text-color);
  user-select: none;
  font-family: Arial, Helvetica, sans-serif;
}

.body-header {
  width: var(--content-width);
  text-align:left;
  margin: auto;
  padding: 0.5em;
}

.body-content {
  background-color: gray;
  padding: 1em;
  width: var(--content-width);
  text-align:center;
  margin: auto;
}

.heading {
  display: inline-block;
  width: 100%;
}

#project-list {
  align-items: center;
  justify-content: center;
}

#about {
  font-size: 1.5em;
}

/* #region Project Card */

.project-card {
  background-color: gray;
  padding: 0.5em;
  padding-top: 0;
  width: var(--content-width);
  text-align:center;
  margin: auto;
  margin-bottom: 20px;
}

.profile-icon {
  border-radius: 50%;
  height: 2em;
  width: 2em;
  object-fit: cover;
  vertical-align: middle;
  line-height: normal;
}

.card-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.project-image {
  width: 90%;
}

.project-description {
  width: 90%;
  margin: auto;
  padding-bottom: 1em;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.username {
  padding-left: 0.5em;
}

.open-project {
  cursor: pointer;
}

/* #endregion */

/* #region NavBar */
#nav {
  display: flex;
  flex-direction: column;
}

.nav-out {
  background-color: var(--secondary);
  width: 20em;
  height: 100vh;
  position: fixed;
  top: 0;
}

.nav-in {
  background-color: var(--secondary);
  width: 4em;
  height: 100vh;
  position: fixed;
  top: 0;
}

.nav-item {
  display: flex;
  width: auto;
  align-items: center;
  height: 3.5em;
  margin-top: 3.5em;
  cursor:pointer;
}

.nav-item:hover {
  color: var(--tertiary);
}

.nav-icon {
  font-size: 3em;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

.nav-link {
  all: unset;
  cursor: pointer;
  font-size: 2em;
  padding-left: 5px;
}

.nav-spacer {
  height: 100em;
}

.top {
  position: fixed;
  display: inline-block;
  background-color: var(--secondary);
  right: 1vw;
  bottom: 1vh;
  text-align: center;
}

/* #endregion */

/* #region App */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-icon {
  float: right;
  height: 5em;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* #endregion */

.hidden {
  display: none;
}

.debug {
  border: 1px solid red;
}

/* #region Animations */
@keyframes flyout {
  from {width: 4em;}
  to {width: 20em;}
}
/* #endregion */